html,
body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    text-align: center;
    background-color: rgb(34, 34, 221);
    padding: 1em 0;
    margin-bottom: 2em;
}

.header-logo {
    height: 100%;
    min-height: 35px;
}

.overall-container {
    height: 80%;
}

.message-bar {
    margin: 0 auto;
    border: 2px solid black;
    max-width: 700px;
    text-align: center;
}

.gameboards-container {
    height: 50%;
    display: grid;
    grid-template: auto auto / auto auto;
    justify-items: center;
}

.gameboard-name-input {
    grid-row: 2 / 3;
    text-align: center;
    align-self: center;
}

.gameboard {
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(11, 1fr);
    max-height: 350px;
    max-width: 350px;
    aspect-ratio: 1;
}

.gameboard-label {
    margin: auto;
}

.gameboard-cell {
    border: 1px solid rgb(165, 165, 165);
    min-height: 15px;
    min-width: 15px;
}

.row-count:nth-child(1) {
    border: 2px solid red;
    /* grid-area: 1 / 11 / 2 / 12; */
}

.inactive-cell {
    pointer-events: none;
}

.hide {
    display: none;
}
